@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
   --bg-color: #f8fafc;
  --text-color: #1f2937;
  --primary-color: #3b82f6;
  --secondary-color: #2563eb;
  --card-bg: #ffffff;
  --border-color: #d1d5db;
}

/* Dark theme */
body.dark {
  --bg-color: #111827;
  --text-color: #f9fafb;
  --primary-color: #3b82f6;
  --secondary-color: #2563eb;
  --card-bg: #1f2937;
  --border-color: #374151;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
    background-color: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.card {
  background-color: var(--card-bg);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 1rem;
}